@page "/"
@using BlazorAppDynamicQuestionGenerator.Client.Common;
@using BlazorAppDynamicQuestionGenerator.Client.Pages.AnswerOptions
@using BlazorAppDynamicQuestionGenerator.Shared.Models;

<PageTitle>Index</PageTitle>
<button class="btn btn-primary" @onclick="IsShowQuestion">@(isView ? "Hide" : "Show")</button>

@if (isView)
{
    <p> Qusetion</p>
    <p> @question.Name</p>
    @if (!string.IsNullOrWhiteSpace(question.ImagePath))
    {
        <RadzenImage Path="@question.ImagePath" Style="width: 100%; height:100px" />
    }
    <p> Options</p>
    @foreach (var item in multipuleChoiceOptionsList)
    {
        <p> @item.Name</p>
        @if (!string.IsNullOrWhiteSpace(item.ImagePath))
        {
            <RadzenImage Path="@item.ImagePath" Style="width: 100%; height:100px" />
        }
    }
    <p> Answer</p>
    <p> @question.CorrectAnswer</p>

}
else
{
    <RadzenPanel>

        <div class="container-fluid">
            <div class="row px-3">
                <div class="col-8">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Question</RadzenText>
                    <RadzenTextArea Placeholder="Enter here..." @bind-Value=@question.Name class="w-100" />
                </div>
                <div class="col-4">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Image</RadzenText>
                    <RadzenFileInput @bind-Value=@question.ImagePath TValue="string" class="w-100" />
                </div>
            </div>

            <div class="row px-3">
                <div class="col-8">
                    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Answer Type</RadzenText>
                    <RadzenDropDown AllowClear="true" AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                Data=@answerType @bind-Value=@question.AnswerTypeId
                                TextProperty="Name" ValueProperty="Id" Change=@(args => OnChangeAnswerType(args, "DropDown with bound Value")) class="w-100" />
                </div>
                <div class="col-4">
                </div>
            </div>
            <p>Options</p>
            @if (question.AnswerTypeId == 1)
            {
                <div class="row px-3">
                    @if (multipuleChoiceOptionsList.Any())
                    {
                        @for (int i = 0; i < answerOptionsLength; i++)
                        {
                            <MultipuleChoiceTextBox OptionId="@answerOptionsLength"
                                    MultipuleChoiceOptionsChanged="ReturnMultipuleChoiceOptions" />
                        }
                    }
                    @if (multipuleChoiceOptionsList.Any())
                    {
                        <MultipuleChoiceRadioButton RdoLength="answerOptionsLength"
                                        MultipuleChoiceOptionsSelectAnswer="ReturnMultipuleChoiceOptionsCurrectAnswer"></MultipuleChoiceRadioButton>
                    }
                </div>
                <div class="row px-3 float-end">
                    <div class="col-2">
                        <button class="btn btn-primary" @onclick="AddMultipuleChoiceOptions">Add</button>
                    </div>
                </div>
            }
            @if (question.AnswerTypeId == 2)
            {
                <div class="row px-3">
                    @if (checkBoxOptionsOptionsList.Any())
                    {
                        @for (int i = 0; i < answerOptionsLength; i++)
                        {
                            <CheckBoxTextBox OptionId="@answerOptionsLength"
                             CheckBoxOptionsChanged="ReturnCheckBoxOptions" />
                        }
                    }
                    @if (checkBoxOptionsOptionsList.Any())
                    {
                        <CheckBoxCheckboxButton RdoLength="answerOptionsLength"
                                    CheckBoxAnswerOptionsSelectAnswer="ReturnCheckBoxOptionsCurrectAnswer"></CheckBoxCheckboxButton>
                    }
                </div>
                <div class="row px-3 float-end">
                    <div class="col-2">
                        <button class="btn btn-primary" @onclick="AddCheckBoxOptions">Add</button>
                    </div>
                </div>
            }

        </div>

    </RadzenPanel>

}


@code {
    Question question = new Question();
    List<AnswerType> answerType = new List<AnswerType>();
    int answerOptionsLength = 0;
    List<MultipuleChoiceOptions> multipuleChoiceOptionsList = new List<MultipuleChoiceOptions>();
    List<CheckBoxOptions> checkBoxOptionsOptionsList = new List<CheckBoxOptions>();
    bool isView = false;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        AddMultipuleChoiceOptions();
        answerType = StaticData.multipuleChoiceOptionsList();
        question.AnswerTypeId = 1;
    }
    void OnChangeAnswerType(object value, string name)
    {
        answerOptionsLength = 0;
        question.AnswerTypeId = Convert.ToInt32(value);
    }

    //MultipuleChoiceOptions
    void AddMultipuleChoiceOptions()
    {
        answerOptionsLength++;
        multipuleChoiceOptionsList.Add(new MultipuleChoiceOptions
            {
                Id = answerOptionsLength,
                Name = "",
                ImagePath = ""
            });
    }
    void ReturnMultipuleChoiceOptions(MultipuleChoiceOptions multipuleChoiceOptions)
    {
        var data = multipuleChoiceOptionsList.Where(x => x.Id == multipuleChoiceOptions.Id).FirstOrDefault();
        data.Name = multipuleChoiceOptions.Name;
        data.ImagePath = multipuleChoiceOptions.ImagePath;
    }
    void ReturnMultipuleChoiceOptionsCurrectAnswer(string vale)
    {
        question.CorrectAnswer = vale;
    }
    // CheckBoxOptions
    void AddCheckBoxOptions()
    {
        answerOptionsLength++;
        checkBoxOptionsOptionsList.Add(new CheckBoxOptions
            {
                Id = answerOptionsLength,
                Name = "",
                ImagePath = ""
            });
    }
    void ReturnCheckBoxOptions(CheckBoxOptions checkBoxOptions)
    {
        var data = checkBoxOptionsOptionsList.Where(x => x.Id == checkBoxOptions.Id).FirstOrDefault();
        data.Name = checkBoxOptions.Name;
        data.ImagePath = checkBoxOptions.ImagePath;
    }
    void ReturnCheckBoxOptionsCurrectAnswer(string vale)
    {
        question.CorrectAnswer = vale;
    }



    void IsShowQuestion()
    {
        isView = !isView;
    }

}
